{% extends "base.html.twig" %}

{% import 'dashboard/macro/_alert.html.twig' as alert %}

{% block body %}
    <div class="dashboard__form-login">

        <div class="d-flex justify-content-center mb-4">
            <img src="{{ asset('images/logo.png') }}" alt="Logo">
        </div>

        <form action="{{ path('account.login') }}" method="post">

            <div class="input-group mb-3">
                <span class="input-group-text" id="user-icon">
                   <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-person-fill" viewBox="0 0 16 16">
                       <path d="M3 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1H3zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6z"/>
                   </svg>
                </span>
                <input
                        class="form-control"
                        type="email"
                        id="username"
                        name="_username"
                        placeholder="{{ 'Адрес эл.почты'|trans({}, 'dashboard') }}"
                        value="{{ lastUsername }}"
                        aria-label="Username"
                        aria-describedby="user-icon" />
            </div>

            <div class="input-group mb-4">
                <span class="input-group-text" id="email-icon">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-key-fill" viewBox="0 0 16 16">
                        <path d="M3.5 11.5a3.5 3.5 0 1 1 3.163-5H14L15.5 8 14 9.5l-1-1-1 1-1-1-1 1-1-1-1 1H6.663a3.5 3.5 0 0 1-3.163 2zM2.5 9a1 1 0 1 0 0-2 1 1 0 0 0 0 2z"/>
                    </svg>
                </span>
                <input
                        class="form-control"
                        type="password"
                        id="password"
                        name="_password"
                        placeholder="{{ 'Пароль'|trans({}, 'dashboard') }}"
                        aria-label="Password"
                        aria-describedby="email-icon" />
            </div>

            <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

            {% if error %}
                {{ alert.danger(error.messageKey|trans(error.messageData, 'security')) }}
            {% endif %}

            <button class="btn btn-primary mb-5 w-100" type="submit">
                {{ 'Войти'|trans({}, 'dashboard') }}
            </button>

        </form>

        {% include 'dashboard/common/_copyright.html.twig' %}

    </div>
{% endblock %}
