{% import 'dashboard/macro/_sidebar.html.twig' as sidebar %}
<!---------------- System ------------------->
<div class="sidebar-item">
  {{ sidebar.body_header('system', '<i class="bi bi-gear-fill"></i>', 'Система'|trans([], 'dashboard')) }}
  <div class="collapse sidebar-list" id="system">
    <!---------------- Settings ------------------->
    {{ sidebar.list_item("#", 'Настройки'|trans([], 'dashboard')) }}
    <!---------------- Users ------------------->
    <div class="sidebar-subitem">
      {{ sidebar.body_header('users', '<i class="bi bi-people-fill"></i>', 'Пользователи'|trans([], 'dashboard')) }}
      <div class="collapse sidebar-list" id="users">
        {{ sidebar.list_item('#', 'Список пользователей'|trans([], 'dashboard')) }}
        {{ sidebar.list_item('#', 'Режим добавления'|trans([], 'dashboard')) }}
        {{ sidebar.list_item("#", 'Группы пользователей'|trans([], 'dashboard')) }}
      </div>
    </div>
    <!---------------- Service ------------------->
    <div class="sidebar-subitem">
      {{ sidebar.body_header('service', '<i class="bi bi-hdd-fill"></i>', 'Обслуживание'|trans([], 'dashboard')) }}
      <div class="collapse sidebar-list" id="service">
        {{ sidebar.list_item("#", 'Архивирование'|trans([], 'dashboard')) }}
        {{ sidebar.list_item("#", 'Внешние загрузки'|trans([], 'dashboard')) }}
        {{ sidebar.list_item("#", 'Журнал ошибок'|trans([], 'dashboard')) }}
      </div>
    </div>
  </div>
</div>
