{% extends 'base.html.twig' %}

{% block body %}
  <div class="container mt-5">
    <div class="card">
      <div class="card-header">
        <i class="bi bi-house-fill"></i>
        {{ 'Template start page'|trans([], 'messages') }}
      </div>
      <div class="card-body">
        <div class="card-text"><a href="{{ path('dashboard') }}">1. {{ "System control panel"|trans([], 'messages') }}</a></div>
        <div class="card-text"><a href="{{ path('account') }}">2. {{ "User's personal account"|trans([], 'messages') }}</a></div>
      </div>
    </div>
  </div>
{% endblock %}
