{% import 'dashboard/macro/_alert.html.twig' as alert %}

{% for message in app.flashes('access_denied') %}
  {{ alert.danger(message|trans([], 'dashboard')) }}
{% endfor %}

<h3>user list</h3>


{#{% import 'dashboard/macro/_alert.html.twig' as alert %}#}
{#{% import 'dashboard/macro/_action_buttons.html.twig' as actions %}#}

{#{{ form_start(form) }}#}
{#  <div class="card">#}
{#    <div class="card-header ml-profile__header">#}
{#      <div class="ml-profile__header-left">#}
{#        <span class="ml-profile__header-icon"><i class="bi bi-pen-fill"></i></span>#}
{#        <span class="ml-profile__header-text">{{ 'Список пользователей'|trans([], 'dashboard') }}</span>#}
{#      </div>#}
{#      <div class="ml-profile__header-right">#}
{#        <button class="btn btn-success" type="submit"><i class="bi bi-save"></i></button>#}
{#        <button class="btn btn-danger" type="button"><i class="bi bi-trash"></i></button>#}
{#      </div>#}
{#    </div>#}
{#    <div class="card-body">#}
{#      <div class="card-title">Filters</div>#}
{#      <hr/>#}
{#      <table class="table">#}
{#        <thead>#}
{#          <tr>#}
{#            <th scope="col">#</th>#}
{#            <th scope="col">Имя</th>#}
{#            <th scope="col">Фамилия</th>#}
{#            <th scope="col">Адрес эл.почты</th>#}
{#            <th scope="col">Действия</th>#}
{#          </tr>#}
{#        </thead>#}
{#        <tbody>#}
{#          {% for user in form.users %}#}
{#            <tr class="align-middle">#}
{#              <th scope="row">{{ user.vars.name + 1 }}</th>#}
{#              <td>{{ form_widget(user.firstname) }}</td>#}
{#              <td>{{ form_widget(user.lastname) }}</td>#}
{#              <td>{{ form_widget(user.email) }}</td>#}
{#              <td>1</td>#}
{#            </tr>#}
{#          {% endfor %}#}
{#        </tbody>#}
{#      </table>#}
{#    </div>#}
{#  </div>#}
{#{{ form_end(form) }}#}
